---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import LinkA from "../components/LinkA.astro";
import LinkB from "../components/LinkB.astro";
import Heading2 from "../components/Heading2.astro";
import Heading3 from "../components/Heading3.astro";
import "@fontsource-variable/noto-sans-jp";
import { anchorLinkMain, anchorLinkList } from "../static/anchorLink.ts";
---

<Layout title="Hololove Chrome Themes">
  <main>
    <div class="container">
      <h1 class="heading1">Hololive<br />Chrome Themes</h1>

      <ul class="link-contents">
        <li class="link-contents__box">
          <LinkA
            href={anchorLinkMain[0].href}
            title={anchorLinkMain[0].title}
          />
          {
            anchorLinkList.JP.map((data) => (
              <LinkB href={data.href} title={data.title} />
            ))
          }
          <li class="link-contents__box">
            <LinkA
              href={anchorLinkMain[1].href}
              title={anchorLinkMain[1].title}
            />
            {
              anchorLinkList.EN.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
          <li class="link-contents__box">
            <LinkA
              href={anchorLinkMain[2].href}
              title={anchorLinkMain[2].title}
            />
            {
              anchorLinkList.ID.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
          <li class="link-contents__box">
            <LinkA
              href={anchorLinkMain[3].href}
              title={anchorLinkMain[3].title}
            />
            {
              anchorLinkList.DEV_IS.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
        </li>
      </ul>

      <section>
        <Heading2 title={anchorLinkMain[0].title} id={anchorLinkMain[0].id} />
        <Heading3
          title={anchorLinkList.JP[0].title}
          id={anchorLinkList.JP[0].id}
        />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
          />
        </ul>

        <Heading3
          title={anchorLinkList.JP[1].title}
          id={anchorLinkList.JP[1].id}
        />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
          />
        </ul>

        <Heading3
          title={anchorLinkList.JP[2].title}
          id={anchorLinkList.JP[2].id}
        />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
          />
        </ul>
      </section>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .container {
    margin: auto;
    padding: 10rem 0;
    max-width: 1400px;
    width: calc(100% - 3rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .heading1 {
    font-size: 6.4rem;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 900;
    font-family: "Noto Sans JP", sans-serif;
  }

  .link-contents {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .link-contents__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 3.2rem;
    padding: 0;
  }
</style>
