---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinkA from "../components/LinkA.astro";
import LinkB from "../components/LinkB.astro";
import "@fontsource-variable/noto-sans-jp";

const anchorLinkList = {
  JP: [
    {
      title: "JEN 0",
      href: "#",
    },
    {
      title: "JEN 1",
      href: "#",
    },
    {
      title: "JEN 2",
      href: "#",
    },
    {
      title: "JEN 3",
      href: "#",
    },
    {
      title: "JEN 4",
      href: "#",
    },
    {
      title: "JEN 5",
      href: "#",
    },
    {
      title: "HoloX",
      href: "#",
    },
  ],
  EN: [
    {
      title: "JEN 0",
      href: "#",
    },
    {
      title: "JEN 1",
      href: "#",
    },
    {
      title: "JEN 2",
      href: "#",
    },
    {
      title: "JEN 3",
      href: "#",
    },
    {
      title: "JEN 4",
      href: "#",
    },
  ],
  ID: [
    {
      title: "JEN 0",
      href: "#",
    },
    {
      title: "JEN 1",
      href: "#",
    },
    {
      title: "JEN 2",
      href: "#",
    },
    {
      title: "JEN 3",
      href: "#",
    },
  ],
  DEV: [
    {
      title: "JEN 0",
      href: "#",
    },
  ],
};
---

<Layout title="Hololove Chrome Themes">
  <main>
    <div class="container">
      <h1>Hololive<br />Chrome Themes</h1>

      <ul class="link-contents">
        <li class="link-contents__box">
          <LinkA href="#" title="JP" />
          {
            anchorLinkList.JP.map((data) => (
              <LinkB href={data.href} title={data.title} />
            ))
          }
          <li class="link-contents__box">
            <LinkA href="#" title="EN" />
            {
              anchorLinkList.EN.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
          <li class="link-contents__box">
            <LinkA href="#" title="ID" />
            {
              anchorLinkList.ID.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
          <li class="link-contents__box">
            <LinkA href="#" title="DEV" />
            {
              anchorLinkList.DEV.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
        </li>
      </ul>

      <ul role="list" class="link-card-grid">
        <Card
          href="https://docs.astro.build/"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        />
        <Card
          href="https://astro.build/integrations/"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://astro.build/themes/"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://astro.build/chat/"
          title="Community"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
    </div>
  </main>
</Layout>

<style>
  .container {
    margin: auto;
    padding: 10rem 0;
    max-width: 1400px;
    width: calc(100% - 3rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 6.4rem;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 900;
    font-family: "Noto Sans JP", sans-serif;
  }

  .link-contents {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .link-contents__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 3.2rem;
    padding: 0;
  }
</style>
