---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import LinkA from "../components/LinkA.astro";
import LinkB from "../components/LinkB.astro";
import Heading2 from "../components/Heading2.astro";
import Heading3 from "../components/Heading3.astro";
import "@fontsource-variable/noto-sans-jp";
import { anchorLinkMain, anchorLinkList } from "../static/anchorLink.ts";
import { talentData } from "../static/talentdata.ts";
---

<Layout title="Hololove Chrome Themes">
  <main>
    <div class="container">
      <h1 class="heading1">Hololive<br />Chrome Themes</h1>

      <ul class="link-contents">
        <li class="link-contents__box">
          <LinkA
            href={anchorLinkMain[0].href}
            title={anchorLinkMain[0].title}
          />
          {
            anchorLinkList.JP.map((data) => (
              <LinkB href={data.href} title={data.title} />
            ))
          }
          <li class="link-contents__box">
            <LinkA
              href={anchorLinkMain[1].href}
              title={anchorLinkMain[1].title}
            />
            {
              anchorLinkList.ID.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
          <li class="link-contents__box">
            <LinkA
              href={anchorLinkMain[2].href}
              title={anchorLinkMain[2].title}
            />
            {
              anchorLinkList.EN.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
          <li class="link-contents__box">
            <LinkA
              href={anchorLinkMain[3].href}
              title={anchorLinkMain[3].title}
            />
            {
              anchorLinkList.DEV_IS.map((data) => (
                <LinkB href={data.href} title={data.title} />
              ))
            }
          </li>
        </li>
      </ul>

      <section>
        <Heading2 title={anchorLinkMain[0].title} id={anchorLinkMain[0].id} />
        <Heading3
          title={anchorLinkList.JP[0].title}
          id={anchorLinkList.JP[0].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.Gen0.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.JP[1].title}
          id={anchorLinkList.JP[1].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.Gen1.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.JP[2].title}
          id={anchorLinkList.JP[2].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.Gen2.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.JP[3].title}
          id={anchorLinkList.JP[3].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.GAMERS.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.JP[4].title}
          id={anchorLinkList.JP[4].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.Gen3.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.JP[5].title}
          id={anchorLinkList.JP[5].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.Gen4.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.JP[6].title}
          id={anchorLinkList.JP[6].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.Gen5.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.JP[7].title}
          id={anchorLinkList.JP[7].id}
        />
        <ul class="link-card-grid">
          {
            talentData.JP.holoX.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>
      </section>

      <section>
        <Heading2 title={anchorLinkMain[1].title} id={anchorLinkMain[1].id} />
        <Heading3
          title={anchorLinkList.ID[0].title}
          id={anchorLinkList.ID[0].id}
        />
        <ul class="link-card-grid">
          {
            talentData.ID.Gen1.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.ID[1].title}
          id={anchorLinkList.ID[1].id}
        />
        <ul class="link-card-grid">
          {
            talentData.ID.Gen2.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.ID[2].title}
          id={anchorLinkList.ID[2].id}
        />
        <ul class="link-card-grid">
          {
            talentData.ID.Gen3.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>
      </section>

      <section>
        <Heading2 title={anchorLinkMain[2].title} id={anchorLinkMain[2].id} />
        <Heading3
          title={anchorLinkList.EN[0].title}
          id={anchorLinkList.EN[0].id}
        />
        <ul class="link-card-grid">
          {
            talentData.EN.Myth.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.EN[1].title}
          id={anchorLinkList.EN[1].id}
        />
        <ul class="link-card-grid">
          {
            talentData.EN.HOPE.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.EN[2].title}
          id={anchorLinkList.EN[2].id}
        />
        <ul class="link-card-grid">
          {
            talentData.EN.Council.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.EN[3].title}
          id={anchorLinkList.EN[3].id}
        />
        <ul class="link-card-grid">
          {
            talentData.EN.Promise.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.EN[4].title}
          id={anchorLinkList.EN[4].id}
        />
        <ul class="link-card-grid">
          {
            talentData.EN.Advent.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>

        <Heading3
          title={anchorLinkList.EN[5].title}
          id={anchorLinkList.EN[5].id}
        />
        <ul class="link-card-grid">
          {
            talentData.EN.Justice.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>
      </section>

      <section>
        <Heading2 title={anchorLinkMain[3].title} id={anchorLinkMain[3].id} />
        <Heading3
          title={anchorLinkList.DEV_IS[0].title}
          id={anchorLinkList.DEV_IS[0].id}
        />
        <ul class="link-card-grid">
          {
            talentData.DEV_IS.ReGLOSS.map((data) => (
              <Card
                href={data.link}
                name={data.name}
                name_jp={data.name_jp}
                image={data.image}
                emoji={data.emoji}
              />
            ))
          }
        </ul>
      </section>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .container {
    margin: auto;
    padding: 10rem 0;
    max-width: 1400px;
    width: 90%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  @media (max-width: 767px) {
    .container {
      padding: 6rem 0 8rem;
    }
  }
  .heading1 {
    font-size: 6.4rem;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 900;
    font-family: "Noto Sans JP Variable", sans-serif;
  }

  @media (max-width: 767px) {
    .heading1 {
      font-size: 4.8rem;
      line-height: 1.3;
    }
  }

  .link-contents {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .link-contents__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 32.5rem));
    gap: 3.2rem;
    padding: 0;
  }
</style>
