---
interface Props {
  name: string;
  name_jp: string;
  emoji: string;
  href: string;
  image: string;
}

const { href, name, name_jp, emoji, image } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <img
      src={image}
      alt=`Chrome theme image of ${name}.`
      width="277"
      height="176"
      loading="lazy"
    />
    <p class="emoji">
      {emoji}
    </p>
    <h4 class="name">
      {name}
    </h4>
    <p class="name_jp">
      {name_jp}
    </p>
  </a>
</li>

<style>
  .link-card {
    display: flex;
    padding: 1px;
    background-color: var(--color-card-bg);
    background-image: none;
    background-size: 400%;
    border-radius: 0.7rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(2.4rem - 1px);
    border-radius: 0.8rem;
    color: var(--color-primary);
    background-color: var(--color-card-bg);
    opacity: 0.8;
  }
  .name {
    margin: 0;
    font-size: 2rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .emoji {
    margin-top: 0.8rem;
    margin-bottom: 0;
  }
  .name_jp {
    margin-top: 0.3rem;
    font-size: 1.4rem;
  }

  .link-card > a img {
    border-radius: 0.5rem;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
